.book-detail {
  .at-article {
    padding-bottom: 100rpx;
    .at-article__p {
      white-space: pre-wrap;
      word-break: keep-all;
    }
  }
  .book-tab-bar {
    padding: 20rpx;
    bottom: 0rpx;
    opacity: 0.75;
    background-color: #f1e5c9;
  }
  .at-tab-bar__item--active {
    font-weight: bold;
  }
}